@use "global" as *;
// sp size  375px -> sp
// tb size  768px -> md
// pc size 1440px -> xl

#menu-btn__check {
  display: none;
}

#menu-btn__check:checked ~ .menu-btn__btn span {
  background-color: rgba(255, 255, 255, 0);
  transition: 0s;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

#menu-btn__check:checked ~ .menu-btn__btn span:before {
  bottom: 0;
  transform: rotate(45deg);
  transition: 0.1s;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

#menu-btn__check:checked ~ .menu-btn__btn span:after {
  top: 0;
  transform: rotate(-45deg);
  transition: 0.1s;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
